# ===== OS / File Explorer =====
.DS_Store
Thumbs.db
Desktop.ini

# ===== IDE / Editor =====
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser
.venv/
*.dll
*.pdb
*.cache
# ===== .NET / Visual Studio =====
[Bb]in/
[Oo]bj/
TestResults/
*.nupkg
*.snupkg
.nuget/packages/
*.dll
*.pdb
*.so

# ===== ASP.NET local config =====
appsettings.Development.json
appsettings.Local.json
secrets.json

# ===== Logs =====
*.log
logs/

# ===== Node.js / Frontend =====
node_modules/
dist/
build/
coverage/
.npm/
.pnpm-store/
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ===== Environment files =====
.env
.env.*
!.env.example
!.env.sample
*.pack

.fake
lograg-ui/.angular/cache/17.3.17/angular-webpack/497617e68e8de3f5069b35b09988857006345458/0.pack
